.App {
  text-align: center;
}

.error {
  background: lightcoral;
  font-weight: normal;
  width: 30%;
  margin: 50px auto;
  padding-top: 40px;
  border-radius: 5px;
  height: 200px;
  font-size: 17px;
  color: rgb(60, 52, 52);
}

li {
  list-style-type: none;
  margin: 10px;
}
